<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon.svg" />
    <title>{{action}} Watchdogs v{{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body,
        button {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <button id="login" onclick="prompt_password()">
        <h1>Login</h1>
    </button>
    <script>
        async function prompt_password() {
            var pwd = prompt("{{prompt_title}}", "");
            if (pwd != null && pwd != "") {
                let redirect = window.location.href.match(/(&|\?)redirect=[^&]*/) || ''
                if (redirect) {
                    redirect = '?' + redirect[0].slice(1)
                }
                let api = '/auth' + redirect
                let response = await fetch(api, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'password': pwd
                    })
                });
                let result = await response.json();
                if (result.ok) {
                    document.getElementById('login').remove()
                    window.location.href = result.redirect
                } else {
                    alert('invalid password.')
                }
            }
        }
        prompt_password()
    </script>
</body>

</html>
