<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/icon" />
    <title>{{action}} Watchdogs v{{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <button onclick="prompt_password()">Login</button>
    <script>
        function prompt_password() {
            var pwd = prompt("{{prompt_title}}", "");
            if (pwd != null && pwd != "") {
                window.location.href = '?password=' + encodeURIComponent(pwd)
            }
        }
        prompt_password()
    </script>
</body>

</html>
