<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/ico" href="/icon.png" />
    <title>Uniparser Test Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <script src="{{cdn_urls['VUE_JS_CDN']}}"></script>
    <script src="{{cdn_urls['ELEMENT_JS_CDN']}}"></script>
    <script src="{{cdn_urls['VUE_RESOURCE_CDN']}}"></script>
    <style>
        @import url("{{cdn_urls['ELEMENT_CSS_CDN']}}");

        .full-screen,
        body,
        .el-tabs__content,
        .el-tabs__content>* {
            width: 100%;
            height: 100%;
        }

        html {
            margin: 0 auto;
            width: 90%;
            height: 90%;
        }

        .el-tabs__item {
            font-weight: bold;
        }

        .el-message-box--center {
            min-width: 50%;
        }

        .time-td {
            min-width: 16em;
            padding-left: 3em;
        }
    </style>
</head>

<body>
    <div id="app" class="full-screen">
        <template>
            <el-tabs @tab-click="handleClick" v-model="activeName" class="full-screen" stretch='true'>
                <el-tab-pane label="Tasks" name="tasks">
                    <template>
                        <el-table :default-sort="{prop: 'last_change_time', order: 'descending'}" :data="task_list"
                            style="width: 100%" height="90%" @sort-change="sort_change">
                            <el-table-column prop="task_id" label="task_id" sortable="custom" width="100">
                            </el-table-column>
                            <el-table-column prop="name" sortable="custom" label="name" width="180">
                            </el-table-column>
                            <el-table-column prop="tags" sortable="custom" label="tags" width="120"></el-table-column>
                            <el-table-column label="request_args" width="160">
                                <template slot-scope="scope">
                                    <el-popover trigger="hover" placement="right">
                                        <pre><code>${JSON.stringify(JSON.parse(scope.row.request_args), null, 2)}</code></pre>
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">${ new
                                                URL(JSON.parse(scope.row.request_args).url).host }</el-tag>
                                        </div>
                                    </el-popover>
                                </template>
                            </el-table-column>
                            <el-table-column prop="interval" sortable="custom" label="interval" width="80">
                            </el-table-column>
                            <el-table-column prop="work_hours" label="work_hours" width="120"></el-table-column>
                            <el-table-column prop="custom_info" label="custom_info" width="160"></el-table-column>
                            <el-table-column label="origin_url" sortable="custom" width="220">
                                <template slot-scope="scope">
                                    <el-link :href="scope.row.origin_url" target="_blank" type="primary">
                                        ${scope.row.origin_url}
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column label="last_change_time" prop="last_change_time" sortable="custom"
                                width="180">
                                <template slot-scope="scope">
                                    <el-link @click="show_time(scope.row)" type="info" :underline="false">
                                        <b>${scope.row.timeago} ago</b><br>
                                        <!-- ${scope.row.last_change_time.replace(/\..*/, '').replace('T', ' ')} -->
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column label="latest_result" width="">
                                <template slot-scope="scope">
                                    <el-link @click="show_result_list(scope.row)" type="info" :underline="false">
                                        ${(JSON.parse(scope.row.latest_result).text||'').slice(0, 40)}
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="/" width="100">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.enable" :active-value='1' :inactive-value='0'
                                        active-color="#13ce66" inactive-color="#ff4949"
                                        @change='change_enable(scope.row)' size="mini"
                                        title="Switch between enable/disable">
                                    </el-switch>
                                    <el-button type="primary" icon="el-icon-caret-right"
                                        @click="force_crawl(scope.$index, scope.row)" size='mini' style="margin: 0;"
                                        circle title="Force Crawl"></el-button>
                                    <el-button type="warn" icon="el-icon-edit"
                                        @click="update_task(scope.$index, scope.row)" size='mini' style="margin: 0;"
                                        circle title="Edit Task"></el-button>
                                    <el-button type="danger" icon="el-icon-delete" circle title="Delete Task"
                                        size="mini" style="margin: 0;" @click="delete_task(scope.$index, scope.row)">
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-button type="success" style="margin-left: 35%; width: 20%;" :disabled="!has_more" plain>
                            Page: ${current_page} - Load More</el-button>
                    </template>
                </el-tab-pane>
                <el-tab-pane label="New Task" name="new task">
                    <iframe @load='init_iframe()' src="/uniparser" frameborder="0" ref="iframe"
                        style="width: 100%; height: 90%;"></iframe>
                    <el-button icon='el-icon-refresh-right' style="margin: 0 0 0 20%;" @click="init_crawler_rule"> 0.
                        Init
                    </el-button>
                    <el-button icon='el-icon-upload' type='primary' style="margin: 0;" @click="add_crawler_rule"> 1.
                        Save Crawler Rule
                    </el-button>
                    <el-button icon='el-icon-plus' type='primary' style="margin: 0;"
                        @click="show_form_add_new_task(true)"> 2.
                        Add
                        New Task</el-button>
                    <span style="font-size: 0.6em;">
                        WARNING: ParseRule names should have these keys to generate RSS: <b>text</b>,
                        <b>url</b>(Optional, defaults to origin_url)
                    </span>
                </el-tab-pane>
                <el-tab-pane label="Rules" name="rule">

                </el-tab-pane>
                <el-tab-pane label="API" name="apis">
                    <iframe v-if="activeName=='apis'" src="/docs" frameborder="0"
                        style="width: 100%; height: 90%;"></iframe>
                </el-tab-pane>
            </el-tabs>
        </template>
        <el-dialog title="Task Info" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
            <el-form :model="new_task_form">
                <el-form-item label="Task Name" title="Input one unique name">
                    <el-input v-model="new_task_form.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-switch active-text="Enable" :active-value='1' :inactive-value='0' inactive-text="Disable"
                        v-model="new_task_form.enable" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item title="Tags splited by ," label="Tags">
                    <el-input v-model="new_task_form.tags" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item title="Input the url, or request_args JSON, or cURL string" label="request_args">
                    <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" v-model="new_task_form.request_args"
                        autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item title="The url for tracing the source" label="origin_url">
                    <el-input v-model="new_task_form.origin_url" hold autocomplete="off"
                        placeholder='default to request_args.url'></el-input>
                </el-form-item>
                <el-form-item title="Crawling loop interval seconds." label="interval">
                    <el-input v-model="new_task_form.interval" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item title="Crawler only works at hour in work_hours" label="work_hours">
                    <el-input v-model="new_task_form.work_hours" autocomplete="off"
                        placeholder="time range: 0, 24. hours list: [20, 21, 22]"></el-input>
                </el-form-item>
                <el-form-item title="Max length of the result list." label="max_result_count">
                    <el-input v-model="new_task_form.max_result_count" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item title="Maybe nonsense string, for special usage. Sometimes saved an email."
                    label="custom_info">
                    <el-input v-model="new_task_form.custom_info" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button type="primary" @click="add_new_task">Submit</el-button>
            </div>
        </el-dialog>


    </div>
    <script>
        var Main = {
            data() {
                return {
                    activeName: 'tasks',
                    dialogFormVisible: false,
                    new_task_form: {},
                    has_more: true,
                    task_list: [],
                    current_page: 0,
                    query_tasks_args: {
                        order_by: 'last_change_time',
                        sort: 'desc',
                    },
                }
            },
            methods: {
                add_new_task() {
                    this.dialogFormVisible = false
                    // {"name":"get demo","request_args":{"method":"get","url":"http://httpbin.org/get","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[{"name":"text","chain_rules":[["css","p","$text"],["python","getitem","[0]"]],"childs":""}],"regex":"http://httpbin.org/get","encoding":""}
                    let data = JSON.stringify(this.new_task_form)
                    this.$http.post('add_new_task', data).then(
                        r => {
                            if (r.body.ok) {
                                this.$message({
                                    message: 'Add task success: ' + r.body.ok,
                                    type: 'success'
                                });
                                this.reload_tasks()
                            } else {
                                this.$message.error({
                                    message: 'Add task failed: ' + r.body.error,
                                    duration: 0,
                                    showClose: true,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'Add task failed: ' + r.status,
                                duration: 0,
                                showClose: true,
                            });
                        }
                    )

                },
                init_crawler_rule() {
                    let name = 'C-' + new Date().getTime().toString().slice(0, -3)
                    this.sub_app.new_rule_json = '{"name":"' + name +
                        '","request_args":{"method":"get","url":"http://httpbin.org/html","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[{"name":"text","chain_rules":[["css","body h1","$text"],["python","getitem","[0]"]],"childs":""}],"regex":"","encoding":""}'
                    this.sub_app.load_rule()
                },
                load_rule(crawler_rule_json) {
                    // crawler_rule_json = '{"name":"HelloWorld222","request_args":{"method":"get","url":"http://httpbin.org/forms/post","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[],"regex":"","encoding":""}'
                    this.sub_app.new_rule_json = crawler_rule_json
                    this.sub_app.load_rule()
                },
                add_crawler_rule() {
                    let current_crawler_rule = JSON.parse(this.sub_app.current_crawler_rule_json)
                    let data = JSON.stringify(current_crawler_rule)
                    this.$http.post('add_crawler_rule', data).then(
                        r => {
                            if (r.body.ok) {
                                this.$message({
                                    message: 'Add rule success: ' + r.body.ok,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error({
                                    message: 'Add rule failed: ' + r.body.error,
                                    duration: 0,
                                    showClose: true,
                                });
                            }
                            this.reload_rules()
                        }, r => {
                            this.$message.error({
                                message: 'Add rule failed: ' + r.status,
                                duration: 0,
                                showClose: true,
                            });
                        }
                    )
                },
                show_form_add_new_task(init_form) {
                    if (init_form) {
                        this.new_task_form = {
                            name: '',
                            enable: true,
                            tags: '',
                            request_args: '',
                            origin_url: '',
                            interval: 300,
                            work_hours: '0, 24',
                            max_result_count: 10,
                            custom_info: '',
                        }
                    }
                    let current_crawler_rule = JSON.parse(this.sub_app.current_crawler_rule_json)
                    this.new_task_form.request_args = JSON.stringify(current_crawler_rule.request_args)
                    this.new_task_form.origin_url = current_crawler_rule.request_args.url || ''
                    this.dialogFormVisible = true
                },
                change_enable(row) {
                    this.$http.get('enable_task', {
                        params: {
                            task_id: row.task_id,
                            enable: row.enable
                        }
                    }).then(
                        r => {
                            result = r.body
                            if (result.msg != 'ok') {
                                this.$message.error({
                                    message: 'Update enable failed: ' + result.msg,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'Update enable failed: ' + r.status,
                            });
                        }
                    )
                },
                sort_change(col) {
                    this.query_tasks_args = {
                        order_by: col.column.label,
                        sort: (col.column.order || '').replace('ending', ''),
                    }
                    this.reload_tasks()
                },
                reload_tasks() {
                    this.task_list = []
                    this.current_page = 1
                    this.load_tasks()
                },
                load_tasks() {
                    this.$http.get('load_tasks', {
                        params: this.query_tasks_args
                    }).then(
                        r => {
                            result = r.body
                            if (result.msg == 'ok') {
                                result.tasks.forEach(item => {
                                    this.task_list.push(item)
                                });
                                this.has_more = result.has_more
                                this.current_page += 1
                            } else {
                                this.$message.error({
                                    message: 'Loading tasks failed: ' + result.msg,
                                });
                                this.has_more = result.has_more
                            }

                        }, r => {
                            this.$message.error({
                                message: 'Loading tasks failed: ' + r.status,
                            });
                        }
                    )
                },
                reload_rules() {
                    // 
                },
                init_iframe() {
                    if (this.sub_app) {
                        this.init_crawler_rule()
                    }
                },
                handleClick(tab, event) {
                    if (tab.name == 'new task') {
                        // for autosize bug in iframe if not seen
                        setTimeout(() => {
                            for (const text of this.$refs.iframe.contentWindow.window.document
                                    .getElementsByTagName(
                                        'textarea')) {
                                text.style.height = 'auto';
                                text.style.height = text.scrollHeight + 'px';
                            };
                        }, 0);
                    }
                },
                escape_html(string) {
                    if (!string) {
                        return ''
                    }
                    return string.replace(
                        /[&<>'"]/g,
                        tag =>
                        ({
                            '&': '&amp;',
                            '<': '&lt;',
                            '>': '&gt;',
                            "'": '&#39;',
                            '"': '&quot;'
                        } [tag] || tag)
                    )
                },
                show_time(row) {
                    var text = '<table style="text-align: left;margin: 0 0 0 20%;">'
                    var items = JSON.parse(row.result_list || '[]')
                    text += '<tr><td>last_check_time</td><td class="time-td">' + row.last_check_time.replace(/\..*/,
                            '').replace('T', ' ') +
                        '</td></tr>'
                    text += '<tr><td>next_check_time</td><td class="time-td">' + row.next_check_time.replace(/\..*/,
                            '').replace('T', ' ') +
                        '</td></tr>'
                    text += '<tr style="font-weight: bold;"><td>last_change_time</td><td class="time-td">' + row
                        .last_change_time.replace(
                            /\..*/, '').replace('T', ' ') +
                        '</td></tr>'
                    text += '</table>'
                    this.$alert(text, 'Task result list: ' + row.name, {
                        confirmButtonText: 'OK',
                        center: true,
                        dangerouslyUseHTMLString: true,
                        closeOnClickModal: true,
                        closeOnPressEscape: true
                    });
                },
                show_result_list(row) {
                    var text = '<table>'
                    var items = JSON.parse(row.result_list || '[]')
                    items.forEach(item => {
                        text += '<tr><td class="time-td">' + item.time + '</td><td>' + this.escape_html(JSON
                            .parse(item.result).text) + '</td></tr>'
                    });
                    text += '</table>'
                    this.$alert(text, 'Task result list: ' + row.name, {
                        confirmButtonText: 'OK',
                        center: true,
                        dangerouslyUseHTMLString: true,
                        closeOnClickModal: true,
                        closeOnPressEscape: true
                    });
                },
                force_crawl(index, row) {
                    this.$http.get('force_crawl', {
                        params: {
                            task_name: row.name,
                        }
                    }).then(
                        r => {
                            result = r.body
                            if (result.msg == 'ok') {
                                this.$message.success({
                                    message: 'Crawl task success',
                                });
                                Vue.set(this.task_list, index, result.task)
                            } else {
                                this.$message.error({
                                    message: 'Crawl task failed: ' + result.msg,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'Crawl task failed: ' + r.status,
                            });
                        }
                    )
                },
                update_task(index, row) {
                    this.new_task_form = {
                        name: row.name,
                        enable: row.enable,
                        tags: row.tags,
                        request_args: row.request_args,
                        origin_url: row.origin_url,
                        interval: row.interval,
                        work_hours: row.work_hours,
                        max_result_count: row.max_result_count,
                        custom_info: row.custom_info,
                    }
                    this.show_form_add_new_task(false)
                },
                delete_task(index, row) {
                    this.$confirm('Are you sure?', 'Confirm', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.$http.get('delete_task', {
                            params: {
                                task_id: row.task_id,
                            }
                        }).then(
                            r => {
                                result = r.body
                                if (result.msg == 'ok') {
                                    this.$message.success({
                                        message: 'Delete task success',
                                    });
                                    this.task_list.splice(index, 1)
                                } else {
                                    this.$message.error({
                                        message: 'Delete task failed: ' + result.msg,
                                    });
                                }
                            }, r => {
                                this.$message.error({
                                    message: 'Delete task failed: ' + r.status,
                                });
                            }
                        )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Canceled'
                        });
                    });

                },
            },
            watch: {},
            computed: {
                sub_app() {
                    return this.$refs.iframe.contentWindow.window.app
                }

            }
        }
        var vue_app = Vue.extend(Main)
        var app = new vue_app({
            delimiters: ['${', '}']
        }).$mount('#app')
        app.load_tasks()
    </script>
</body>

</html>
