<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/icon" />
    <title>Watchdogs v{{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <script src="{{cdn_urls['VUE_JS_CDN']}}"></script>
    <script src="{{cdn_urls['ELEMENT_JS_CDN']}}"></script>
    <script src="{{cdn_urls['VUE_RESOURCE_CDN']}}"></script>
    <style>
        @import url("{{cdn_urls['ELEMENT_CSS_CDN']}}");

        .full-screen,
        body,
        .el-tabs__content,
        .el-tabs__content>* {
            width: 100%;
            height: 100%;
        }

        html {
            margin: 0 auto;
            width: 90%;
            height: 90%;
        }

        .el-tabs__item {
            font-weight: bold;
        }

        .el-message-box--center {
            min-width: 50%;
        }

        .el-message-box {
            width: auto;
        }

        .time-td {
            min-width: 16em;
            padding-left: 3em;
        }

        #input_host_form>.el-form-item:first-child .el-form-item__content,
        #input_host_form>.el-form-item:first-child {
            width: 100%;
        }

        [aria-label="Edit Crawler JSON"] .el-textarea__inner {
            height: 10em;
        }

        .el-table_1_column_8>.cell {
            white-space: nowrap;
        }

        div.foot {
            display: flex;
            justify-content: center;
        }

        .host-tag {
            margin: 0.5em;
        }

        .el-table .warning-row {
            background: oldlace;
        }

        .cb_name {
            cursor: pointer;
            padding-left: 1em;
        }
    </style>
</head>

<body>
    <template id="tmp_vars">{{callback_workers|safe}}</template>
    <div id="app" class="full-screen">
        <template>
            <el-tabs @tab-click="handleClick" v-model="activeName" class="full-screen" stretch='true'>
                <el-tab-pane label="Tasks" name="tasks">
                    <template>
                        <el-table @row-dblclick="row_db_click" :row-class-name="check_error_task"
                            :default-sort="{prop: 'last_change_time', order: 'descending'}" :data="task_list"
                            style="width: 100%" height="90%" @sort-change="sort_change">
                            <el-table-column prop="task_id" label="task_id" sortable="custom" width="100">
                            </el-table-column>
                            <el-table-column prop="name" sortable="custom" label="name" width="280">
                                <template slot-scope="scope">
                                    <el-link :href="scope.row.origin_url" target="_blank" type="primary">
                                        ${scope.row.name}
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column sortable="custom" label="tag" width="80">
                                <template slot-scope="scope">
                                    <el-link :href="'?tag='+scope.row.tag" target="_blank" type="primary">
                                        ${scope.row.tag}
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column label="request_args" width="180">
                                <template slot-scope="scope">
                                    <el-popover trigger="hover" placement="bottom-start">
                                        <h4>${ new URL(JSON.parse(scope.row.request_args).url).host }</h4>
                                        <pre><code>${JSON.stringify(JSON.parse(scope.row.request_args), null, 2)}</code></pre>
                                        <el-button @click="view_crawler_rule_by_req(scope.row.request_args)" size='mini'
                                            icon="el-icon-view"><b>Rule</b></el-button>
                                        <el-button @click="view_host_by_req(scope.row.request_args)" size='mini'
                                            icon="el-icon-view"><b>Host</b></el-button>
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">${ new
                                                URL(JSON.parse(scope.row.request_args).url).host }</el-tag>
                                        </div>
                                    </el-popover>
                                </template>
                            </el-table-column>
                            <el-table-column prop="interval" sortable="custom" label="interval" width="100">
                            </el-table-column>
                            <el-table-column prop="work_hours" label="work_hours" width="120"></el-table-column>
                            <el-table-column label="last_change_time" prop="last_change_time" sortable="custom"
                                width="165">
                                <template slot-scope="scope">
                                    <el-link @click="show_time(scope.row)" type="info" :underline="false"
                                        :title="scope.row.last_change_time.replace(/\..*/, '').replace('T', ' ')+'. Click to read more.'">
                                        <b>${scope.row.timeago} ago</b><br>
                                        <!-- ${scope.row.last_change_time.replace(/\..*/, '').replace('T', ' ')} -->
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column prop="custom_info" label="custom_info" width="160"></el-table-column>
                            <el-table-column label="latest_result" min-width="160">
                                <template slot-scope="scope">
                                    <i type="warn" v-if="scope.row.error" class="el-icon-warning" circle size="mini"
                                        style="margin: 0;" @click='show_task_error(scope.row)'>
                                    </i>
                                    <el-link style="display: inline;"
                                        :href="JSON.parse(scope.row.latest_result).url||scope.row.origin_url"
                                        type="info" target="_blank" :underline="false">
                                        ${get_latest_result(scope.row.latest_result, 80)}
                                    </el-link>
                                    <el-link style="display: inline;" @click="show_result_list(scope.row)" type="info"
                                        :underline="false" title="Click to read more.">
                                        <i class="el-icon-more-outline" style="zoom: 1.4;"></i>
                                    </el-link>
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="/" min-width="100">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.enable" :active-value='1' :inactive-value='0'
                                        active-color="#13ce66" inactive-color="#ff4949"
                                        @change='change_enable(scope.row)' size="mini"
                                        title="Switch between enable/disable">
                                    </el-switch>
                                    <el-button type="primary" icon="el-icon-caret-right"
                                        @click="force_crawl(scope.$index, scope.row)" size='mini' style="margin: 0;"
                                        circle title="Force Crawl"></el-button>
                                    <el-button type="warn" icon="el-icon-edit" @click="update_task(scope.row)"
                                        size='mini' style="margin: 0;" circle
                                        title="Edit Task. Double click the row for shortcut."></el-button>
                                    <el-button type="danger" icon="el-icon-delete" circle title="Delete Task"
                                        size="mini" style="margin: 0;" @click="delete_task(scope.$index, scope.row)">
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="foot">
                            <el-button type="success" style="margin: 0; width: 20%;" :disabled="!has_more" plain>
                                Page: ${current_page} - Load More</el-button>
                            <el-button type="primary" @click="reload_tasks" size="" style="margin: 0;" title="Refresh"
                                icon="el-icon-refresh-right"></el-button>
                            <a href="{{rss_url}}" target="_blank" rel="noopener noreferrer" style="margin: 0;">
                                <el-button title="RSS Feed" size="" style="margin: 0;" type="warning"
                                    icon="el-icon-star-off"></el-button>
                            </a>
                            <a href="{{lite_url}}" target="_blank" rel="noopener noreferrer" style="margin: 0;">
                                <el-button title="Lite page for mobile view" size="" style="margin: 0;"
                                    icon="el-icon-mobile-phone"></el-button>
                            </a>
                        </div>
                    </template>
                </el-tab-pane>
                <el-tab-pane label="New" name="new">
                    <iframe @load='init_iframe()' src="/uniparser/" frameborder="0" id="uni_iframe"
                        style="width: 100%; height: 90%;"></iframe>
                    <el-popover v-on:dblclick.native="window.open('/auth')" title="Double click to change password"
                        style="margin: 0 0 0 20%;" placement="top-start" title="WARNING" width="200" trigger="hover"
                        content=""><span style="font-size: 1em;">
                            ParseRule's name should have the keys to generate RSS:
                            <br>
                            <b>text</b>
                            <br>
                            <b>url </b>[Optional]
                        </span>
                        <i slot="reference" class="el-icon-warning"></i>
                    </el-popover>
                    <el-button icon='el-icon-refresh-right' style="margin: 0;"
                        title="Init rules between xml and css demo" @click="init_iframe_crawler_rule(null)"> 0.
                        Init
                    </el-button>
                    <el-button icon='el-icon-upload' type='warning' style="margin: 0;"
                        @click="process_crawler_rule('add', null, 0)">
                        1.
                        Save Crawler Rule
                    </el-button>
                    <el-button icon='el-icon-plus' type='success' style="margin: 0;"
                        @click="show_form_add_new_task(true)"> 2.
                        Add
                        New Task</el-button>
                </el-tab-pane>
                <el-tab-pane label="Rules" name="rules">
                    <div style="width: 65%;margin: 0 auto;">
                        <el-form @submit.prevent.native="load_hosts" id="input_host_form" label-position="left" inline>
                            <el-form-item>
                                <el-input v-model="current_host" title="Press enter to submit"
                                    placeholder="Host or URL for filter, null to fetch all.">
                                    <template slot="prepend">Host</template>
                                    <el-button @click="load_hosts" slot="append" icon="el-icon-search"></el-button>
                                </el-input>
                            </el-form-item>
                        </el-form>
                        <div class="host-tags">
                            <el-tag class="host-tag" v-for="(host,index) in visible_host_list" :key="host"
                                @click="show_host_rule(host.name)" effect="dark" :type="tag_types[index%5]">
                                ${ host.name } <i v-if="host.freq" class="el-icon-lock"></i>
                            </el-tag>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="API" name="apis">
                    <iframe v-if="activeName=='apis'" src="/docs" frameborder="0"
                        style="width: 100%; height: 90%;"></iframe>
                </el-tab-pane>
            </el-tabs>
        </template>
        <el-dialog title="Task Info" :visible.sync="task_info_visible" :close-on-click-modal="false">
            <el-form :model="new_task_form">
                <el-form-item label="Task ID" title="Unique task id">
                    <el-input v-model="new_task_form.task_id" disabled autocomplete="off"
                        placeholder="Task ID, for new task is null"></el-input>
                </el-form-item>
                <el-form-item label="Task Name" title="Input one unique name">
                    <el-input v-model="new_task_form.name" autocomplete="off" title="Press enter to submit"
                        @keyup.enter.native="add_new_task" placeholder="Task name, Press enter to submit."></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-switch active-text="Enable" :active-value='1' :inactive-value='0' inactive-text="Disable"
                        v-model="new_task_form.enable" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item title="Tag for grouping" label="Tag">
                    <el-input v-model="new_task_form.tag" autocomplete="on" title="Press enter to submit"
                        @keyup.enter.native="add_new_task"></el-input>
                </el-form-item>
                <el-form-item label="Error" title="An error occurred when trying to crawl">
                    <el-input v-model="new_task_form.error" disabled autocomplete="off" placeholder="No errors.">
                    </el-input>
                </el-form-item>
                <el-form-item title="Input the url, or request_args JSON, or cURL string" label="request_args">
                    <el-button @click="view_crawler_rule_by_req(new_task_form.request_args)" size='mini'
                        icon="el-icon-view"><b>Rule</b></el-button>
                    <el-button @click="view_host_by_req(new_task_form.request_args)" size='mini' icon="el-icon-view">
                        <b>Host</b></el-button>
                    <span> | "retry": 2, "timeout": 3, "ssl": False, and other args refer to <a
                            href="https://docs.aiohttp.org/en/stable/client_reference.html#aiohttp.ClientSession.request"
                            target="_blank" rel="noopener noreferrer">aiohttp</a> </span>
                    <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" v-model="new_task_form.request_args"
                        autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item title="The url for tracing the source" label="origin_url">
                    <el-input v-model="new_task_form.origin_url" autocomplete="off" title="Press enter to submit"
                        @keyup.enter.native="add_new_task" placeholder='default to request_args.url'></el-input>
                </el-form-item>
                <el-form-item title="Crawling loop interval seconds." label="interval">
                    <el-link style="margin-left: 1em;" type="danger" @click="new_task_form.interval=300">5 mins
                    </el-link> |
                    <el-link type="danger" @click="new_task_form.interval=600">10 mins</el-link> |
                    <el-link type="warning" @click="new_task_form.interval=1800">30 mins</el-link> |
                    <el-link type="warning" @click="new_task_form.interval=3600">1 hrs</el-link> |
                    <el-link type="success" @click="new_task_form.interval=3600*3">3 hrs</el-link> |
                    <el-link type="success" @click="new_task_form.interval=3600*6">6 hrs</el-link> |
                    <el-link type="primary" @click="new_task_form.interval=3600*12">12 hrs</el-link> |
                    <el-link type="primary" @click="new_task_form.interval=86400">1 day</el-link> |
                    <el-link type="info" @click="new_task_form.interval=86400*7">7 days</el-link> |
                    <el-link type="info" @click="new_task_form.interval=86400*30">30 days</el-link>
                    <el-input v-model="new_task_form.interval" autocomplete="off" title="Press enter to submit"
                        @keyup.enter.native="add_new_task"></el-input>
                </el-form-item>
                <el-form-item title="Crawler only works at hour in work_hours" label="work_hours">
                    <i class="el-icon-info" title="Click for more info" @click="show_work_hours_doc"></i>
                    <el-input v-model="new_task_form.work_hours" autocomplete="off" title="Press enter to submit"
                        @keyup.enter.native="add_new_task" placeholder="time range: 0, 24. hours list: [20, 21, 22]">
                    </el-input>
                </el-form-item>
                <el-form-item title="Max length of the result list." label="max_result_count">
                    <el-input v-model="new_task_form.max_result_count" autocomplete="off" title="Press enter to submit"
                        @keyup.enter.native="add_new_task"></el-input>
                </el-form-item>
                <el-form-item title="History of the result list." label="result_list">
                    <el-input v-model="new_task_form.result_list" type="textarea" title="Standard JSON list.">
                    </el-input>
                </el-form-item>
                <el-form-item label="custom_info">
                    <el-input type="textarea" autosize v-model="new_task_form.custom_info" clearable
                        placeholder="string split by ':' as callback_name:arg" autocomplete="off"></el-input>
                    <b>Callbacks:</b>
                    <div style="display: inline;" v-for="(value, name) in callback_workers">
                        <span class="cb_name" @click="click_cb_name(name)">${name}</span>
                    </div>
                    <pre
                        style="margin: 0px;border: 1px solid #8080802b;padding-left: 1em;"><code style="margin: 0;">${current_cb_doc}</code></pre>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="task_info_visible = false">Cancel</el-button>
                <el-button type="primary" @click="add_new_task">Submit</el-button>
            </div>
        </el-dialog>
        <el-dialog :title="'Rule Info: '+current_host_rule.host||''" :close-on-click-modal="true"
            :visible.sync="rule_info_visible" :close-on-click-modal="false">
            <el-button type="danger" icon="el-icon-delete" @click="delete_host_rule(current_host_rule.host)">Delete
            </el-button>
            <el-row>
                <h4 title="Example: n=1, interval=3 means crawl once each 3 seconds.">Frequency: <span>Send [n] request
                        each [interval] seconds</span></h4>
                <el-col :span="8">
                    <el-input clearable
                        placeholder="Number of concurrent, default to null / 0, will remove frequency controller)."
                        title="Number of concurrent, default to null / 0, will remove frequency controller)."
                        v-model="current_host_rule.n">
                        <template slot="prepend">n:</template>
                    </el-input>
                </el-col>
                <el-col :span="8">
                    <el-input clearable placeholder="Crawling interval seconds, default to 0."
                        title="Crawling interval seconds, default to 0." v-model="current_host_rule.interval">
                        <template slot="prepend">interval:</template>
                    </el-input>
                </el-col>
                <el-col :span="8">
                    <el-button @click="update_frequency" type="warning">Update Frequency</el-button>
                </el-col>
            </el-row>


            <el-row :gutter="20">
                <el-col :span="8">
                    <h4>Name</h4>
                </el-col>
                <el-col :span="12">
                    <h4>Regex</h4>
                </el-col>
                <el-col :span="4">
                    <h4>/</h4>
                </el-col>
            </el-row>
            <div v-for="rule in current_host_rule.crawler_rules">
                <el-row :gutter="20">
                    <el-col :span="8">
                        <el-link @click="view_crawler_rule(rule)" title="View the CrawlerRule in uniparser console"
                            type="primary">
                            ${rule.name}
                        </el-link>
                    </el-col>
                    <el-col :span=" 12">
                        ${rule.regex}
                    </el-col>
                    <el-col :span="4">
                        <i title="View the CrawlerRule in uniparser console" @click="view_crawler_rule(rule)"
                            style="zoom: 1.5;cursor: pointer;margin-right: 1em;" class="el-icon-view"></i>
                        <i title="Edit JSON" @click="edit_crawler_rule(rule)"
                            style="zoom: 1.5;cursor: pointer;margin-right: 1em;" class="el-icon-edit-outline"></i>
                        <i title="Delete" @click="process_crawler_rule('pop', rule, 0)"
                            style="zoom: 1.5;cursor: pointer;margin-right: 1em;" class="el-icon-delete"></i>
                    </el-col>
                </el-row>
            </div>
        </el-dialog>
    </div>
    <script>
        var Main = {
            data() {
                return {
                    activeName: 'tasks',
                    iframe_loaded: false,
                    task_info_visible: false,
                    rule_info_visible: false,
                    current_host_rule: {},
                    new_task_form: {},
                    has_more: true,
                    task_list: [],
                    current_page: 0,
                    host_list: [],
                    visible_host_list: [],
                    current_host: '',
                    tag_types: ['', 'success', 'info', 'warning', 'danger'],
                    query_tasks_args: {
                        order_by: 'last_change_time',
                        sort: 'desc',
                        tag: '',
                    },
                    callback_workers: {},
                    current_cb_doc: '',
                }
            },
            methods: {
                add_new_task() {
                    // {"name":"get demo","request_args":{"method":"get","url":"http://httpbin.org/get","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[{"name":"text","chain_rules":[["css","p","$text"],["python","getitem","[0]"]],"child_rules":""}],"regex":"http://httpbin.org/get","encoding":""}
                    try {
                        JSON.parse(this.new_task_form.result_list)
                    } catch (error) {
                        this.$alert('Bad JSON of result_list')
                        return
                    }
                    this.task_info_visible = false
                    let data = JSON.stringify(this.new_task_form)
                    this.$http.post('add_new_task', data).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                this.$message({
                                    message: 'Update task ' + this.new_task_form.name + ' success: ' +
                                        result.msg,
                                    type: 'success'
                                });
                                this.reload_tasks()
                            } else {
                                this.$message.error({
                                    message: 'Update task ' + this.new_task_form.name + ' failed: ' +
                                        result.msg,
                                    duration: 0,
                                    showClose: true,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                                duration: 0,
                                showClose: true,
                            });
                        }
                    )
                },
                init_iframe_crawler_rule(rule_json) {
                    if (rule_json) {
                        this.sub_app.new_rule_json = rule_json
                    } else {
                        if (!(/httpbin\.org\/html/g.test(this.sub_app.new_rule_json))) {
                            this.sub_app.new_rule_json =
                                '{"name":"","request_args":{"method":"get","url":"http://httpbin.org/html","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[{"name":"text","chain_rules":[["css","body h1","$text"],["python","getitem","[0]"]],"child_rules":""}],"regex":"^http://httpbin.org/html$","encoding":""}'
                        } else {
                            this.sub_app.new_rule_json =
                                '{"name":"","request_args":{"method":"get","url":"https://importpython.com/blog/feed/","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[{"name":"text","chain_rules":[["xml","channel>item>title","$text"],["python","getitem","[0]"]],"child_rules":""},{"name":"url","chain_rules":[["xml","channel>item>link","$text"],["python","getitem","[0]"]],"child_rules":""}],"regex":"^https?://importpython\.com/blog/feed/$","encoding":""}'
                        }
                    }
                    this.sub_app.input_object = ''
                    this.sub_app.request_status = ''
                    this.sub_app.load_rule()
                },
                load_rule(crawler_rule_json) {
                    // crawler_rule_json = '{"name":"HelloWorld222","request_args":{"method":"get","url":"http://httpbin.org/forms/post","headers":{"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}},"parse_rules":[],"regex":"","encoding":""}'
                    this.sub_app.new_rule_json = crawler_rule_json
                    this.sub_app.load_rule()
                },
                view_host_by_req(request_args) {
                    let url = JSON.parse(request_args).url
                    if (!url) {
                        this.$alert('request_args.url should not be null')
                        return
                    }
                    // this.activeName = 'rules'
                    // Vue.set(this, 'activeName', 'rules')
                    this.current_host = (new URL(url)).hostname
                    document.getElementById('tab-rules').click()
                    this.task_info_visible = false
                },
                view_crawler_rule_by_req(request_args) {
                    if (!request_args) {
                        this.$alert('request_args should not be null')
                        return
                    }
                    this.$http.post('find_crawler_rule', request_args).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                let rule = JSON.parse(result.result)
                                this.view_crawler_rule(rule)
                                this.task_info_visible = false
                            } else {
                                this.$message.error({
                                    message: 'rule not find in db: ' + result.msg,
                                    duration: 0,
                                    showClose: true,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                                duration: 0,
                                showClose: true,
                            });
                        }
                    )
                },
                view_crawler_rule(rule) {
                    this.rule_info_visible = false
                    document.getElementById('tab-new').click()
                    this.init_iframe_crawler_rule(JSON.stringify(rule))
                    this.$message.success({
                        message: 'Rule loaded.',
                    });
                },
                edit_crawler_rule(rule) {
                    this.$prompt('', 'Edit Crawler JSON', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        center: true,
                        inputType: 'textarea',
                        closeOnClickModal: false,
                        inputValue: JSON.stringify(rule, null, 2)
                    }).then(({
                        value
                    }) => {
                        this.process_crawler_rule('add', JSON.parse(value), 0)
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Cancel'
                        });
                    });
                },
                process_crawler_rule(method, rule, force) {
                    let current_crawler_rule = rule || JSON.parse(this.sub_app
                        .current_crawler_rule_json)
                    let data = JSON.stringify(current_crawler_rule)
                    let api = 'crawler_rule.' + method
                    if (force == 1) {
                        api += '?force=1'
                    }
                    this.$http.post(api, data).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                this.$message({
                                    message: method + ' rule success',
                                    type: 'success'
                                });
                                if (method == 'pop' && result.result) {
                                    this.show_host_rule(this.current_host_rule.host)
                                }
                            } else {
                                if (method == 'add' && /matched more than 1 rule/g.test(result.msg)) {
                                    this.$confirm(
                                        'Failed for url matched more than 1 rule, overwrite it?',
                                        'Confirm', {
                                            confirmButtonText: 'Yes',
                                            cancelButtonText: 'No',
                                            type: 'error'
                                        }).then(() => {
                                        this.process_crawler_rule(method, rule, 1)
                                    }).catch(() => {
                                        this.$message({
                                            type: 'info',
                                            message: 'Adding rule canceled.'
                                        });
                                    });
                                } else {
                                    this.$message.error({
                                        message: method + ' rule failed: ' + result.msg,
                                        duration: 0,
                                        showClose: true,
                                    });
                                }
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                                duration: 0,
                                showClose: true,
                            });
                        }
                    )
                },
                show_form_add_new_task(create_new_task) {
                    if (create_new_task) {
                        let init_name = ''
                        try {
                            init_name = this.sub_app.crawler_rule.name
                        } catch (error) {
                            console.log(error);
                        }
                        this.new_task_form = {
                            task_id: null,
                            name: init_name,
                            enable: 1,
                            tag: 'default',
                            error: '',
                            request_args: '',
                            origin_url: '',
                            interval: 300,
                            work_hours: '0, 24',
                            max_result_count: 10,
                            result_list: '[]',
                            custom_info: '',
                        }
                        let current_crawler_rule = JSON.parse(this.sub_app.current_crawler_rule_json)
                        this.new_task_form.request_args = JSON.stringify(current_crawler_rule.request_args)
                        this.new_task_form.origin_url = current_crawler_rule.request_args.url || ''
                    }
                    this.task_info_visible = true
                },
                change_enable(row) {
                    this.$http.get('enable_task', {
                        params: {
                            task_id: row.task_id,
                            enable: row.enable
                        }
                    }).then(
                        r => {
                            var result = r.body
                            if (result.msg != 'ok') {
                                this.$message.error({
                                    message: 'Update enable failed: ' + result.msg,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                            });
                        }
                    )
                },
                sort_change(col) {
                    this.query_tasks_args = {
                        order_by: col.column.label,
                        sort: (col.column.order || '').replace('ending', ''),
                    }
                    this.reload_tasks()
                },
                reload_tasks() {
                    this.task_list = []
                    this.current_page = 0
                    this.load_tasks()
                },
                load_tasks() {
                    let tag = new URLSearchParams(window.location.search).get('tag')
                    if (tag) {
                        this.query_tasks_args['tag'] = tag
                    } else {
                        this.query_tasks_args['tag'] = ''
                    }
                    this.$http.get('load_tasks', {
                        params: this.query_tasks_args
                    }).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                result.tasks.forEach(item => {
                                    this.task_list.push(item)
                                });
                                this.has_more = result.has_more
                                this.current_page += 1
                            } else {
                                this.$message.error({
                                    message: 'Loading tasks failed: ' + result.msg,
                                });
                                this.has_more = result.has_more
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                            });
                        }
                    )
                },
                load_hosts() {
                    // (this.current_host)
                    this.$http.get('load_hosts', {
                        params: {
                            host: this.current_host
                        }
                    }).then(
                        r => {
                            var result = r.body
                            this.current_host = result.host || ''
                            this.host_list = result.hosts
                            this.visible_host_list = this.host_list
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                            });
                        }
                    )
                },
                init_iframe() {
                    if (this.sub_app) {
                        this.init_iframe_crawler_rule(null)
                    }
                },
                handleClick(tab, event) {
                    if (tab.name == 'new') {
                        if (!this.iframe_loaded) {
                            // for autosize bug in iframe if not seen
                            setTimeout(() => {
                                for (const text of this.uni_iframe.contentWindow.document
                                        .getElementsByTagName(
                                            'textarea')) {
                                    text.style.height = 'auto';
                                    text.style.height = text.scrollHeight + 'px';
                                };
                                this.iframe_loaded = true
                            }, 0);
                        }
                    }
                    if (tab.name == 'rules') {
                        this.load_hosts()
                    }
                },
                escape_html(string) {
                    if (!string) {
                        return ''
                    }
                    return string.replace(
                        /[&<>'"]/g,
                        tag =>
                        ({
                            '&': '&amp;',
                            '<': '&lt;',
                            '>': '&gt;',
                            "'": '&#39;',
                            '"': '&quot;'
                        } [tag] || tag)
                    )
                },
                show_time(row) {
                    var text = '<table style="text-align: left;margin: 0 0 0 20%;">'
                    var items = JSON.parse(row.result_list || '[]')
                    text += '<tr><td>last_check_time</td><td class="time-td">' + row.last_check_time
                        .replace(/\..*/,
                            '').replace('T', ' ') +
                        '</td></tr>'
                    text += '<tr><td>next_check_time</td><td class="time-td">' + row.next_check_time
                        .replace(/\..*/,
                            '').replace('T', ' ') +
                        '</td></tr>'
                    text += '<tr style="font-weight: bold;"><td>last_change_time</td><td class="time-td">' +
                        row
                        .last_change_time.replace(
                            /\..*/, '').replace('T', ' ') +
                        '</td></tr>'
                    text += '</table>'
                    this.$alert(text, 'Task result list: ' + row.name, {
                        confirmButtonText: 'OK',
                        center: true,
                        dangerouslyUseHTMLString: true,
                        closeOnClickModal: true,
                        closeOnPressEscape: true
                    });
                },
                get_latest_result(latest_result, max_length = 80) {
                    try {
                        return JSON.parse(latest_result).text.slice(0, max_length)
                    } catch (error) {
                        return latest_result
                    }
                },
                show_result_list(row) {
                    var text = '<table>'
                    var items = JSON.parse(row.result_list || '[]')
                    items.forEach(item => {
                        result = item.result
                        if (result.url) {
                            var href = 'href="' + (result.url || '') + '"'
                        } else {
                            var href = ''
                        }
                        text += '<tr><td class="time-td">' + item.time +
                            '</td><td><a target="_blank" ' + href + '>' + this
                            .escape_html(
                                result.text) + '</a></td></tr>'
                    });
                    text += '</table>'
                    this.$alert(text, 'Task result list: ' + row.name, {
                        confirmButtonText: 'OK',
                        center: true,
                        dangerouslyUseHTMLString: true,
                        closeOnClickModal: true,
                        closeOnPressEscape: true
                    });
                },
                force_crawl(index, row) {
                    this.$http.get('force_crawl', {
                        params: {
                            task_name: row.name,
                        }
                    }).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {

                                let task = result.task
                                Vue.set(this.task_list, index, task)
                                if (task.error) {
                                    this.$message.error({
                                        message: 'Crawl task ' + row.name + ' ' + task.error,
                                    });
                                } else {
                                    this.$message.success({
                                        message: 'Crawl task ' + row.name + ' success',
                                    });
                                }
                            } else {
                                this.$message.error({
                                    message: 'Crawl task ' + row.name + ' failed: ' + result
                                        .msg,
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'force_crawl connect failed: ' + r.status,
                            });
                        }
                    )
                },
                row_db_click(row) {
                    this.update_task(row)
                },
                show_task_error(row) {
                    app.$alert(row.error, "Crawler Error", {
                        closeOnClickModal: true,
                        closeOnPressEscape: true,
                        center: true
                    })
                },
                update_task(row) {
                    this.new_task_form = {
                        task_id: row.task_id,
                        name: row.name,
                        enable: row.enable,
                        tag: row.tag,
                        request_args: row.request_args,
                        origin_url: row.origin_url,
                        interval: row.interval,
                        work_hours: row.work_hours,
                        max_result_count: row.max_result_count,
                        result_list: row.result_list || '[]',
                        custom_info: row.custom_info,
                    }
                    this.show_form_add_new_task(false)
                },
                delete_task(index, row) {
                    this.$confirm('Are you sure?', 'Confirm', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.$http.get('delete_task', {
                            params: {
                                task_id: row.task_id,
                            }
                        }).then(
                            r => {
                                var result = r.body
                                if (result.msg == 'ok') {
                                    this.$message.success({
                                        message: 'Delete task ' + row.name + ' success',
                                    });
                                    this.task_list.splice(index, 1)
                                } else {
                                    this.$message.error({
                                        message: 'Delete task ' + row.name +
                                            ' failed: ' +
                                            result.msg,
                                    });
                                }
                            }, r => {
                                this.$message.error({
                                    message: 'connect failed: ' + r.status,
                                });
                            }
                        )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Canceled'
                        });
                    });
                },
                delete_host_rule(host) {
                    this.$confirm('Are you sure?', 'Confirm', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.$http.get('delete_host_rule', {
                            params: {
                                host: host,
                            }
                        }).then(
                            r => {
                                var result = r.body
                                if (result.msg == 'ok') {
                                    this.$message.success({
                                        message: 'Delete host ' + host +
                                            ' rule success',
                                    });
                                    this.current_host_rule = {}
                                    this.rule_info_visible = false
                                    this.load_hosts()
                                } else {
                                    this.$message.error({
                                        message: 'Delete host ' + host +
                                            ' rule failed: ' + JSON
                                            .stringify(
                                                result),
                                    });
                                }
                            }, r => {
                                this.$message.error({
                                    message: 'connect failed: ' + r.status,
                                });
                            }
                        )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Canceled'
                        });
                    })
                },
                show_host_rule(host) {
                    this.$http.get('get_host_rule', {
                        params: {
                            host: host,
                        }
                    }).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                this.current_host_rule = result.host_rule
                                this.rule_info_visible = true
                            } else {
                                this.$message.error({
                                    message: 'get_host_rule ' + host + ' failed: ' + JSON
                                        .stringify(
                                            result),
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                            });
                        }
                    )
                },
                show_work_hours_doc() {
                    let html = `<pre><code>
Three kinds of format:

    1. Tow numbers splited by ', ', as work_hours:
        0, 24           means from 00:00 ~ 23:59, for everyday
    2. JSON list of int, as work_hours:
        [1, 19]         means 01:00~01:59 a.m.  07:00~07:59 p.m. for everyday
    3. Standard strftime format, as work_days:
        > Split work_hours by '==', then check
            if datetime.now().strftime(wh[0]) == wh[1]
        %A==Friday      means each Friday
        %m-%d==03-13    means every year 03-13
        %H==05          means everyday morning 05:00 ~ 05:59
    4. Mix up work_days and work_hours:
        > Split work_days and work_hours with ';'/'&' => 'and', '|' => 'or'.
        > Support == for equal, != for unequal.
        %w==5;20, 24        means every Friday 20:00 ~ 23:59
        [1, 2, 15];%w==5    means every Friday 1 a.m. 2 a.m. 3 p.m., the work_hours is on the left side.
        %w==5|20, 24        means every Friday or everyday 20:00 ~ 23:59
        %w==5|%w==2         means every Friday or Tuesday
        %w!=6&%w!=0         means everyday except Saturday & Sunday.
</code></pre>`
                    this.$alert(html, 'work_hours format doc', {
                        dangerouslyUseHTMLString: true,
                        closeOnClickModal: true,
                        closeOnPressEscape: true,
                    });
                },
                check_error_task({
                    row,
                    rowIndex
                }) {
                    if (row.error) {
                        return 'warning-row'
                    }
                },
                click_cb_name(name) {
                    this.current_cb_doc = this.callback_workers[name]
                    this.new_task_form.custom_info = name + ':'
                },
                update_frequency() {
                    let host = this.current_host_rule.host
                    let n = this.current_host_rule.n || 0
                    let interval = this.current_host_rule.interval || 0
                    this.$http.get('update_host_freq', {
                        params: {
                            host: host,
                            n: n,
                            interval: interval
                        }
                    }).then(
                        r => {
                            var result = r.body
                            if (result.msg == 'ok') {
                                this.$message({
                                    message: 'Update frequency ' + host + ': ' +
                                        result.msg,
                                    type: 'success'
                                });
                                this.current_host_rule.n = n
                                this.current_host_rule.interval = interval
                            } else {
                                this.$message.error({
                                    message: 'update_frequency ' + host + ' failed: ' + JSON
                                        .stringify(
                                            result),
                                });
                            }
                        }, r => {
                            this.$message.error({
                                message: 'connect failed: ' + r.status,
                            });
                        }
                    )
                },
            },
            watch: {
                current_host: function (val) {
                    this.visible_host_list = []
                    if (/^https?:\/\//g.test(val)) {
                        val = (new URL(val).hostname)
                        this.current_host = val
                    }
                    this.host_list.forEach(host => {
                        if (host.name.includes(val)) {
                            this.visible_host_list.push(host)
                        }
                    });
                },
            },
            computed: {
                uni_iframe() {
                    return document.getElementById('uni_iframe')
                },
                sub_app() {
                    // return this.$refs.iframe.contentWindow.window.app
                    let uni = this.uni_iframe
                    if (uni) {
                        return uni.contentWindow.app
                    }
                }
            }
        }
        var vue_app = Vue.extend(Main)
        var app = new vue_app({
            delimiters: ['${', '}']
        }).$mount('#app')
        app.load_tasks()

        function init_vars() {
            let node = document.getElementById('tmp_vars')
            app.callback_workers = JSON.parse(node.innerHTML)
            node.parentNode.removeChild(node)
        }
        init_vars()
    </script>
</body>

</html>
