aiofiles
async_lru
beautifulsoup4
SQLAlchemy==1.4.41
databases>=0.5.5
pydantic<2.0.0
fastapi
fire
jinja2
jmespath
jsonpath-rw-ext
lxml
objectpath
pyyaml>=5.3
selectolax
toml
torequests>=5.0.4
uniparser>=3.0.2
uvicorn
