.full-screen,
body,
.el-tabs__content,
.el-tabs__content > * {
    width: 100%;
    height: 100%;
}

html {
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.el-tabs__item {
    font-weight: bold;
}

.el-message-box--center {
    min-width: 50%;
}

.el-message-box {
    width: auto;
}

.time-td {
    min-width: 16em;
    padding-left: 3em;
}

#input_host_form > .el-form-item:first-child .el-form-item__content,
#input_host_form > .el-form-item:first-child {
    width: 100%;
}

[aria-label='Edit Crawler JSON'] .el-textarea__inner {
    height: 10em;
}

.el-table_1_column_8 > .cell {
    white-space: nowrap;
}

div.foot {
    display: flex;
    justify-content: center;
}

.host-tag {
    margin: 0.5em;
    cursor: pointer;
}

.el-table .warning-row {
    background: oldlace;
}

.cb_name {
    cursor: pointer;
    padding-left: 1em;
}

p.custom_links {
    text-align: center;
    color: black;
    background-color: rgba(223, 223, 223, 0.5);
    padding: 0.5em 0 0.5em 0;
    box-shadow: 3px 3px 5px #888888;
}

.request_args_pre {
    font-size: 0.9em;
}

[v-cloak] {
    display: none;
}
.el-popover {
    max-width: 50%;
}
.el-message-box.work_hours_doc{
    width: 40%;
}
pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}
